# Credentials files
credentials.json
token.json

# Environment variables
.env

# Data
src/data

# Dependencies
node_modules/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Render
.render/
